{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
      <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Store</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
  </ol>
</div>
<div>
	<div class="col-lg-4">
			<img class="img-fluid" alt="Responsive image"class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6><hr>
				<h4 style="display: inline-block; float: right"><strong>درهم{{product.price}}</strong></h4>
			</div>
		</div>
        <a class="btn btn-outline-success" href="{% url 'store:store' %}">show more img</a>

</div>
<div class="row-sm">
	<p>{{product.description}}</p>
</div>
		{% endblock %}